// Fonts
$font: 'Roboto Condensed', sans-serif;
$font-family: 'Ubuntu Mono', monospace;

// Font Color
$header-color:#ffffff;

// hover 
$button-hover:#a6eef7;
$hover-font: #FF6347;

// Background
$header:#000080;
$title: #191970;
$nav-menu1:	#778899;
$main: #F8F8FF;
$section: #f8f8ff;
$aside: #F0F8FF;
$footer: #000080;
$button:#b0c4de;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%